*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* montserrat-100 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/montserrat-v24-latin-100.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/montserrat-v24-latin-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/montserrat-v24-latin-100.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/montserrat-v24-latin-100.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/montserrat-v24-latin-100.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/montserrat-v24-latin-100.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/montserrat-v24-latin-200.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/montserrat-v24-latin-200.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/montserrat-v24-latin-200.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/montserrat-v24-latin-200.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/montserrat-v24-latin-200.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/montserrat-v24-latin-200.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/montserrat-v24-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/montserrat-v24-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/montserrat-v24-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/montserrat-v24-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/montserrat-v24-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/montserrat-v24-latin-300.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/montserrat-v24-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/montserrat-v24-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/montserrat-v24-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/montserrat-v24-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/montserrat-v24-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/montserrat-v24-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/montserrat-v24-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/montserrat-v24-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/montserrat-v24-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/montserrat-v24-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/montserrat-v24-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/montserrat-v24-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/montserrat-v24-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/montserrat-v24-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/montserrat-v24-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/montserrat-v24-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/montserrat-v24-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/montserrat-v24-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* nunito-300 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/nunito-v23-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito-v23-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito-v23-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/nunito-v23-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/nunito-v23-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/nunito-v23-latin-300.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/nunito-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito-v23-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito-v23-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/nunito-v23-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/nunito-v23-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/nunito-v23-latin-regular.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-500 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/nunito-v23-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito-v23-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito-v23-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/nunito-v23-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/nunito-v23-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/nunito-v23-latin-500.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/nunito-v23-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/nunito-v23-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/nunito-v23-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/nunito-v23-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/nunito-v23-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/nunito-v23-latin-700.svg#Nunito")
      format("svg"); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/roboto-v29-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/roboto-v29-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/roboto-v29-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/roboto-v29-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/roboto-v29-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/roboto-v29-latin-300.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v29-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/roboto-v29-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/roboto-v29-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/roboto-v29-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/roboto-v29-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v29-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/roboto-v29-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/roboto-v29-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/roboto-v29-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/roboto-v29-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/roboto-v29-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

:root {
  --roboto-font: "Roboto", sans-serif;
  --nunito-font: "Nunito", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  --white: #fff;
  --light-peach: #fdf6ec;
  --ligh-brown: #f8edeb;
  --dark-brown: #7c5b55;
  --green-enabled-color: #62a685;
  --red: #ff7a7a;
  --black: #000;
  --dark-gray: #495057;
  --purple: #5534a5;
  --light-gray: #676767;
}

html {
  font-family: var(--roboto-font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: calc(2.6rem + 1vw);
}

li {
  list-style: none;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: calc(4.8rem + 1vw);
}

h3 {
  font-size: calc(3rem + 1vw);
}

h4,
h5 {
  font-size: calc(2.8rem + 1vw);
}

a {
  color: var(--white);
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  color: var(--white);
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-x: hidden;
  max-height: 100vh;
}

.mask {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("/imgs/arriba.jpg");

  filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  max-height: 100vh;
  overflow: hidden;
}

div[class$="container"] {
  margin: 0 auto;
  width: 90vw;
}

section[class$="section"] {
  width: 100vw;
  overflow-x: hidden;
}

.link-active {
  height: 1px;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
}

.nav-bar > ul {
  height: 100%;
}

.logo {
  height: 15vh;
}

.links-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  height: 100%;
  align-items: center;
}

.modal {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  top: 40%;
  width: 30vw;
  left: 40%;
  padding: 1rem 5rem 5rem 5rem;
  background-color: var(--white);
}

#close-modal-btn {
  width: 3rem;
  align-self: flex-end;
  height: 3rem;
  cursor: pointer;
}

.modal .houses-section-house-card {
  width: 100%;
}

.nav-links {
  font-size: 2.7rem;
  font-weight: 500;
  text-align: center;
}

.burger-mask {
  display: none;
}

.link {
  z-index: 2;
}

.nav-links:hover {
  cursor: pointer;
}

.line {
  transition: width 0.7s;
  height: 2px;
  background-color: var(--white);
  width: 0;
}

.nav-links:hover + .line {
  width: 100%;
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  color: var(--white);
  height: 85vh;
}

.hero-section-content img {
  position: absolute;
  z-index: 7;
  bottom: 35vh;
  right: 5vw;
}

#video {
  z-index: 9;
  width: 100%;
  background: blue;
}
.chat-form {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
}

.form-control {
  width: 100%;
  display: flex;
}

.support-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-peach);
  overflow-y: scroll;
  display: flex;
  height: 50vh;
  align-items: flex-end;
  padding: 1rem;
}

.form-control input[type="text"] {
  flex: 1;
}

#map {
  width: 100%;
  height: 100%;
}

.form-header {
  justify-content: space-between;
  background-color: var(--dark-brown);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: flex-end;
}

.form-header h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  font-family: var(--nunito-font);
}

.tool-bar {
  width: 25%;
  z-index: 5;
}

.tool-bar img {
  object-fit: contain;
  margin-left: 1rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section-content img:hover {
  cursor: pointer;
}
.hero-section-title {
  font-size: 5rem;
  font-weight: 400;
}

.hero-section-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  width: 30vw;
  text-align: center;
}

.hero-section-button {
  background-color: transparent;
  border: 1px solid var(--white);
  margin-top: 10rem;
  transition: 0.3s;
}

.hero-section-button:hover {
  background-color: var(--white);
  color: black;
}

.houses-section {
  background-color: var(--light-peach);
  width: 100vw;
  height: 100%;
  padding-bottom: 4rem;
}

.houses-section-title {
  font-family: var(--nunito-font);
  padding: 4rem 0;
  font-size: 4rem;
}

.carousel-houses {
  display: flex;
  width: 100%;
  align-items: center;
}

.carousel-houses img {
  width: 5%;
  height: 5%;
  cursor: pointer;
}

.carousel .nav img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.container {
  padding: 4rem;
}
.carousel {
  position: relative;
  width: 100%;
  height: 40vh;
  margin: 0 auto;
}

.carousel-content {
  position: relative;
  display: flex;
  margin-left: 6rem;
  overflow: hidden;
  transition: width 0.4s;
  height: 100%;
  justify-content: space-evenly;
}

.slide {
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  -webkit-user-select: none;
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}

.houses-section-card-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  overflow-y: hidden;
}

.house-section-discounts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.houses-section-house-card {
  background-color: var(--white);
  box-shadow: -2px 10px 11px -3px rgba(0, 0, 0, 0.34);
  gap: 1rem;
  width: 30%;
  height: fit-content;
  padding-bottom: 2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.5s;
}

.houses-section-house-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.houses-section-house-card-info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}

.houses-section-house-card img {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.houses-section-house-card-content {
  font-family: var(--montserrat-font);
  display: flex;
  flex-direction: column;
}

.houses-section-house-card-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: var(--green-enabled-color);
}

.houses-section-house-card-title h3,
.houses-section-house-card-content h4,
.houses-section-house-card-content p {
  font-weight: 300;
}

.houses-section-house-card-title h3 {
  font-size: 3rem;
}

.houses-section-house-card-content h4 {
  font-size: 2rem;
}

.houses-section-house-card-content p {
  font-weight: 500;
  font-size: 1.5rem;
}

.houses-section-house-card-state {
  width: 30%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.houses-section-house-card-state img {
  width: 50px;
  height: 20px;
  object-fit: contain;
  align-self: center;
}

.houses-section-house-card-state h3 {
  font-weight: 300;
  font-size: 2rem;
}

.renta h3 {
  color: var(--red);
}

.employees-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("/imgs/pexels-photo-1694360.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 130vh;
  padding: 3rem 0;
}

.employees-container {
  display: flex;
  justify-content: space-between;
}

.departamento-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.employees-section-container h1 {
  color: var(--white);
  font-family: var(--nunito-font);
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}

.agents-cards {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  justify-content: space-between;
  height: 80vh;
}

.employee-card {
  background-color: var(--white);
  box-shadow: -2px 10px 11px -3px rgba(0, 0, 0, 0.34);
  border-radius: 1rem;
  padding: 1rem;
  width: 35vw;
  height: fit-content;
  display: flex;
  gap: 2rem;
}

.employee-card img {
  border-radius: 100%;
  width: 10vw;
  height: 20vh;
  object-fit: cover;
  align-self: center;
}

.employee-card-info h2,
.employee-card-info h3,
.employee-card-info h4,
.employee-card-info h5 {
  font-weight: var(--roboto-font);
  font-weight: 300;
}

.employee-card-info h2 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--dark-gray);
}

.employee-card-info h3 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--purple);
}

.employee-card-info h4,
.employee-card-info h5 {
  font-size: 2rem;
  color: var(--light-gray);
}

.employee-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.ceo-card {
  align-self: center;
  width: 35vw;
  height: 80vh;
  background-color: white;
  border-radius: 1rem;
  box-shadow: -2px 10px 11px -3px rgba(0, 0, 0, 0.34);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ceo-card-info p {
  font-weight: 300;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  padding: 2rem;
}

.ceo-card-info p::first-letter {
  font-weight: 500;
  font-style: italic;
  color: var(--purple);
}

.purple-bg {
  background-color: var(--dark-brown);
  width: 100%;
  height: 35vh;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.house-card-state-discount {
  color: var(--red);
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.countDown {
  background-color: #011327;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item {
  background-color: #02244a;
  color: white;

  font-size: 1vw;
  text-align: center;
  font-weight: 100;
  font-family: var(--roboto-font);
}
.column {
  display: flex;
  flex-direction: column;
}
.text {
  height: 5vw;
  text-align: left;
  font-size: 1vw;
  font-family: var(--roboto-font);
  font-weight: 200;
  color: white;
}
.column {
  background-color: #02244a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2vw;
  width: 100%;
  margin: 0.5vw;
}

.discount-text {
  color: crimson;
  font-family: var(--montserrat-font);
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.discount-text span {
  text-decoration: underline;
}

.ceo-img {
  align-self: center;
  border-radius: 100px;
  width: 10vw;
  object-fit: cover;
  height: 10vw;
  border: 5px solid var(--white);
  transform: translateY(calc(-40% - 2vw));
}

.ceo-info {
  text-align: center;
  transform: translateY(-40%);
}

.ceo-info h3,
.ceo-info h4 {
  font-family: var(--montserrat-font);
  font-weight: 600;
  font-size: calc(2rem + 1vw);
}

.ceo-info h3 {
  color: var(--white);
}

.ceo-info h4 {
  color: hsl(300, 2%, 25%);
}

.info-button {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 14;
  color: var(--black);
  background-color: var(--ligh-brown);
  box-shadow: -2px 10px 11px -3px rgba(0, 0, 0, 0.34);
}

.info-button:hover {
  background-color: var(--dark-brown);
  color: var(--ligh-brown);
}

.footer-container {
  padding: 2rem;
  width: 100vw;
  height: fit-content;
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  font-family: var(--montserrat-font);
  background-color: var(--dark-brown);
  transition: all 0.3s ease-in;
  position: fixed;
  bottom: -100%;
}

.footer-container.activo {
  bottom: 0%;
}
.footer-info {
  color: var(--white);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

.footer-img img {
  height: 25vh;
  width: 25vh;

  margin: 0 auto;
}

.footer-img {
  margin: 0 auto;
}
#footer-logo {
  width: 500px;
  height: 300px;
}

.footer-info h1,
.footer-info h2,
.footer-info h3,
.footer-info h4 {
  font-size: 2rem;
}

.whatsapp-footer {
  display: flex;
  align-self: center;
  align-self: center;
  justify-content: center;
}

.whatsapp-footer img {
  width: 8rem;
  height: 8rem;
}

.whatsapp-footer p {
  font-weight: 700;
  margin: auto 0;
}

.social-networks-nav {
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.social-networks-nav h2 {
  color: var(--white);
  font-size: 4rem;
}

.social-network-links img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/* Tablet */

@media screen and (max-width: 1024px) {
  .mask {
    background-size: 200%;
    filter: blur(0);
    background-position: right top;
  }

  .modal {
    display: none;
  }

  .nav-bar {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }

  #support-form-img {
    display: none;
  }

  .nav-bar a {
    margin: 0 auto;
  }

  .links-container {
    width: 90vw;
  }

  .info-button {
    display: none;
  }

  .hero-section-button {
    border: 1px solid var(--white);
    margin-top: 10rem;
    background-color: var(--white);
    font-size: 2.4rem;
    color: black;
  }

  .hero-section-title {
    font-size: 4.3rem;
    text-align: center;
  }

  .carousel-content {
    margin: auto 4rem;
  }
  .hero-section-subtitle,
  .hero-section-title {
    width: 90vw;
  }

  .houses-section-card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
  }

  .houses-section-house-card {
    width: 100%;
  }

  .houses-section-house-card-info {
    display: flex;
    justify-content: space-between;
    box-shadow: 0;
  }
  .houses-section-house-card > img {
    width: 100%;
    object-fit: cover;
    align-self: center;
  }

  .houses-section-house-card:last-of-type {
    display: none;
  }
  .houses-section-house-card-content {
    width: 30vw;
  }

  .houses-section-house-card-content h4 {
    font-size: 2rem;
  }

  .houses-section-house-card-content p {
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .houses-section-house-card-title {
    width: 25vw;
  }

  .houses-section-house-card-title h3 {
    font-size: 2.5rem;
    margin-left: 1rem;
  }

  .houses-section-house-card-state h3 {
    font-size: 1.8rem;
  }

  .employees-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  .agents-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .employee-card {
    width: 100%;
  }

  .employee-card > img {
    display: none;
  }

  .ceo-card {
    margin-top: 2rem;
    width: 100%;
  }

  .ceo-card-info p {
    font-size: 2.7rem;
  }

  .ceo-img {
    transform: translateY(calc(-40% - 2vw));
    width: 20vw;
    height: 20vw;
  }

  .ceo-info h3,
  .ceo-info h4 {
    font-size: 5rem;
  }

  .footer-img {
    display: none;
  }

  #footer-logo {
    width: 100%;
    object-fit: contain;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
    bottom: 0;
    position: inherit;
  }
}

/* -- MOBILE -- */

@media screen and (max-width: 915px) {
  .mask {
    background-size: 600%;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-bar a {
    width: 45%;
    height: 45%;
    padding: 0;
    margin: 0;
  }

  .burger-mask {
    display: block;
  }

  .burger {
    position: relative;
    z-index: 3;
    cursor: pointer;
    display: block;
    align-items: center;
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background: white;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background: white;
  }

  .burger div {
    padding: 0.2rem 2rem;
    background: var(--white);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }

  .border-none {
    border: none;
  }

  .nav-links a {
    color: white;
    font-size: 4rem;
    text-decoration: underline;
  }

  .links-container {
    background: var(--light-gray);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }

  .nav-open {
    transform: translateX(-100%);
  }

  .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link .line {
    display: none;
  }

  .link:hover {
    background-color: var(--dark-gray);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .houses-section-house-card {
    width: 100%;
  }

  .houses-section-house-card-info {
    display: flex;
    width: 100%;
  }

  .houses-section-house-card img {
    width: 100%;
  }
  .burger:hover {
    cursor: pointer;
  }

  .houses-section-container {
    row-gap: 1rem;
  }

  .houses-section-house-card-state {
    display: flex;
    justify-content: center;
  }
  .houses-section-house-card-state h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .houses-section-house-card-state img {
    width: 1.7rem;
  }

  .dot {
    display: none;
  }
  .houses-section-house-card-title {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .houses-section-house-card-title h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  .houses-section-house-card-content h4,
  .houses-section-house-card-content p {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .ceo-card {
    display: none;
  }

  .house-section-discounts {
    text-align: center;
  }

  .houses-section-house-card-content {
    text-align: left;
  }

  .house-section-discounts:last-of-type {
    margin-top: 4rem;
  }

  .houses-section-card-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    row-gap: 3rem;
  }

  #footer-logo {
    width: 100%;
    object-fit: contain;
  }
}
